.gh-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #B9B9B9;
}
.gh-navbar {
  top: -8px;
  left: 28px;
  color: #ffffff;
  width: var(--dl-size-size-maxwidth);
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.gh-navlink {
  display: contents;
}
.gh-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.gh-desktop-menu {
  display: flex;
}
.gh-nav {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gh-navlink1 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.gh-navlink2 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.gh-navlink3 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.gh-navlink4 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.gh-btn-group {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gh-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gh-image1 {
  width: 20px;
  object-fit: cover;
  text-decoration: none;
}
.gh-image2 {
  width: 20px;
  object-fit: cover;
  text-decoration: none;
}
.gh-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.gh-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gh-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.gh-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gh-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.gh-logo {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.gh-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gh-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gh-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gh-text {
  margin-bottom: var(--dl-space-space-unit);
}
.gh-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.gh-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.gh-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.gh-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.gh-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.gh-login {
  margin-right: var(--dl-space-space-twounits);
}
.gh-icon-group {
  display: flex;
}
.gh-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gh-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gh-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
