.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: #000000;
  border-width: 1px;
  flex-direction: column;
  background-color: #4e6d6d;
}
.home-divider-image {
  top: 139px;
  left: -5px;
  width: 1608px;
  height: 1163px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.home-navbar {
  color: #ffffff;
  width: 1800px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-navlink {
  display: contents;
}
.home-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.home-desktop-menu {
  display: flex;
}
.home-nav {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-navlink1 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-navlink2 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-navlink3 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-navlink4 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-btn-group {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image1 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.home-image2 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.home-login {
  margin-right: var(--dl-space-space-twounits);
}
.home-icon-group {
  display: flex;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 1600px) {
  .home-container {
    background-color: #b9b9b9;
  }
  .home-divider-image {
    left: 0px;
    right: 0px;
    width: 1598px;
    bottom: -258px;
    height: 1130px;
    position: static;
    align-self: center;
    padding-top: 0px;
  }
  .home-navbar {
    top: -22px;
    flex: 1;
    left: 31px;
    width: 1496px;
    margin: auto;
    position: absolute;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 4px;
  }
  .home-navlink1 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .home-navlink2 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .home-navlink3 {
    color: rgb(255, 255, 255);
  }
  .home-navlink4 {
    color: rgb(255, 255, 255);
  }
  .home-image1 {
    width: 20px;
    height: 20px;
  }
  .home-image2 {
    width: 20px;
    height: 20px;
  }
}
@media(max-width: 991px) {
  .home-desktop-menu {
    display: none;
  }
  .home-btn-group {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-button {
    display: flex;
    padding: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-logo {
    color: #000000;
  }
}
@media(max-width: 767px) {
  .home-navbar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-navbar {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
}
